*{
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AreaText{
  float:left;
  width: 80%;
  margin: 30px 10%;
  background: black;
  color: white;
  border-radius: 15px;
  padding: 15px;
  font-size: 20px;
  line-height: 20px;
}
.DivBotao{
  float: left;
  width: 100%;
  text-align: center;
}

.Botao{
  display: inline-block;
  border: 0;
  padding: 10px 20px;
  background-color: black;
  color: #61dafb;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}
.show{
  display: block;
}
.hide{
  display: none;
}